<div class="col-md-4 col-sm-12">
  <div class="card engineer-card">
    <div class="card-header bg-transparent border-secondary">{{name}}</div>
    <div class="card-body text-secondary">
      <h5 class="card-title"><i class="fas fa-bug"></i> Engineer</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">ID: {{id}} </li>
        <li class="list-group-item bg-transparent">Email: <a href="mailto:">{{email}}</a></li>
        <li class="list-group-item bg-transparent">GitHub: {{github}}</li>
      </ul>
    </div>
    <div class="card-footer bg-transparent border-secondary"></div>
  </div>
</div>